<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Task Updation :
    <form method="post" action="{% url 'updatetask' task.id %}">
        {% csrf_token %}
        <label>TASK</label>
        <input type="text" id="task" name="task" value="{{task.title}}">
        <label>DESCRIPTION</label>
        <input type="text" id="desc" name="desc" value="{{task.description}}">
        <label>COMPLETED OR NOT</label>
        <input type="radio" id="complete" name="completed" value="True">completed
        <input type="radio" id="complete" name="completed" value="False">Incomplete
    
        <button type="submit">UPDATE</button>
      </form>
</body>
</html>